name: Java CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test-java:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: java

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: mvn test
